.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    /* Đổi màu đỏ thành #333 cho đồng bộ với Header hoặc tùy ý */
    color: white;
    text-align: center;
    padding: 10px 0;
}